/* CSS Document */

@charset "UTF-8";

/* General styling */

/* 
Color palette: 
lightest: #c7ccd6 - background
medium-light: #afb9c5 - code snippet background
medium: #a3adbd - background for some UI elements
medium-dark: #516881 - hover state for links and image borders
darkest: #1a2033 - text
*/

body {
  background-color: #c7ccd6;
  color: #1a2033;
  font-family: monospace;
}

header, main, footer {
  max-inline-size: 40rem;
  margin: 0 auto;
}

header > pre {
  font-size: 0.85rem;
  inline-size: fit-content;
  margin: 0 auto 1.5rem;
}

nav {
  font-size: 0.9rem;
  text-align: center;
  text-transform: uppercase;
  line-height: 0.5rem;
}

main {
  font-size: 1.2rem;
}

footer {
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 0.7rem;
  margin-block-start: 1.5rem;
}

footer > p {
  margin: 0;
  align-self: center;
}

h1 {
  font-size: 1.4rem;
  text-align: center;
  max-inline-size: 27rem;
  margin: 1.6rem auto;
}

h2 {
  font-size: 1.2rem;
}

h3,
h4 {
  font-size: 1.2rem;
  font-weight: normal;
}

a {
  color: #1a2033;
}

a:hover {
  color: #516881;
}

a:active {
  color: white;
}

hr {
  border: none;
  border-block-start: 0.2rem dotted #a3adbd;
  margin: 1.5rem 0;
}

ul > li::marker {
  content: "\003E \0020"/ "";
}

pre {
  white-space: pre-wrap;
  word-break: break-all;
}

code {
  font-size: 1rem;
  background-color: #afb9c5;
  display: inline-block;
  max-inline-size: fit-content;
  padding: 0.04rem 0.1rem;
  border-radius: 0.4rem;
}

details {
  margin: 1rem 0;
  border: 0.2rem solid #a3adbd;
}

details > *:not(summary) {
  margin: 1rem 1.25rem;
}

summary {
  padding: 0.5rem;
}

summary > h3 {
  display: inline;
}

summary:hover {
  cursor: pointer;
  background-color: #a3adbd;
}

summary:active {
  color: white;
}

figure {
  padding: 1.25rem;
  margin: 1rem auto;
  border: 0.2rem solid #a3adbd;
}

figcaption {
  margin-block-start: 0.3rem;
}

figure > a > img {
  border: 0.1rem solid #a3adbd;
}

figure > a > img:hover {
  border: 0.1rem solid #516881;
}

figure > a > img:active {
  border: 0.1rem solid white;
}

/* Ocasionally used text styles */

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-colored {
  color: #000f94;
}

.text-breakall {
  word-break: break-all;
}

.spoiler {
  background-color: #1a2033;
  color: #1a2033;
}

.spoiler:hover {
  background-color: transparent;
  color: #1a2033;
}

.h1 {
  font-size: 2rem;
  font-weight: bold;
}

.h2 {
  font-size: 1.7rem;
  font-weight: bold;
}

.h3 {
  font-size: 1.3rem;
  font-weight: bold;
}

.h4 {
  font-size: 1rem;
  font-weight: bold;
}

/* Icon */

.icon {
  block-size: 0.9rem;
}

/* Footer RSS feed button */

.rss-btn {
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  inline-size: fit-content;
  padding: 0.5rem;
  border: 0.15rem solid #1a2033;
}

.rss-btn > img {
  block-size: 1.2rem;
}

/* Gallery */

.gallery,
.featured {
  display: grid;
  gap: 0.5rem;
  inline-size: fit-content;
  block-size: fit-content;
}

.gallery {
  grid-template-columns: repeat(4, 1fr);
}

.featured {
  grid-template-columns: repeat(3, 1fr);
}

.preview {
  position: relative;
  display: block;
  border: 0.1rem solid #a3adbd;
  overflow: hidden;
}

.preview:hover {
  border: 0.1rem solid #516881;
}

.preview:active {
  border: 0.1rem solid white;
}

.preview > img {
  inline-size: 100%;
  block-size: 100%;
}

.artwork > a > img {
  display: block;
  max-inline-size: 100%;
  max-block-size: 30rem;
  margin: 0 auto
}

/* Code box element */

.btn-code {
  font-size: 0.65rem;
  word-break: break-all;
  max-inline-size: 15rem;
  block-size: 4rem;
  background-color: white;
  border: solid 0.1rem #1a2033;
  padding: 0.5rem;
  margin-block-start: 0.7rem;
  overflow-y: scroll;
  overflow-x: hidden;
}

.btn-code > code {
  background-color: transparent;
  border-radius: 0;
  padding: 0;
  display: inline;
}

/* Responsive big banner */

.responsive-img {
  max-inline-size: 100%;
}

/* CSS for landing page */

.landing {
  font-size: 0.9rem;
  text-align: center;
  inline-size: 15rem;
  block-size: fit-content;
  position: absolute;
  inset: 0;
  margin: auto;
  padding: 2rem;
  border: solid 0.1rem #1a2033;
}

.landing > pre {
  margin: 0 auto;
}

.landing > img {
  mix-blend-mode: multiply;
  display: block;
  inline-size: 75%;
  margin: 1.4rem auto 1.2rem;
}

.landing > p {
  max-inline-size: 13rem;
  margin: 0 auto;
}

.landing > a {
  font-size: 1.5rem;
  display: block;
  margin: 1rem auto 0;
}

/* CSS for 404 page */

.fourofour {
  text-align: center;
  inline-size: fit-content;
  block-size: fit-content;
  position: absolute;
  inset: 0;
  margin: auto;
}

.fourofour > h1 {
  font-size: 4rem;
  margin-block-end: 1rem;
}

.fourofour > p {
  font-size: 1rem;
}

/* CSS for smaller screens */

@media (max-width: 660px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 500px) {
  header > pre {
    font-size: 0.6rem;
    margin-block-end: 0.9rem;
  }

  nav, footer {
    font-size: 0.9rem;
  }

  footer {
    gap: 0.5rem;
    margin-block-start: 1rem;
  }

  main, h2, h3, h4{
    font-size: 1rem;
  }

  h1 {
    font-size: 1.2rem;
    max-inline-size: 17rem;
    margin: 1.2rem auto;
  }

  code {
    font-size: 0.8rem;
  }

  hr {
    margin: 0.7rem 0;
  }

  .rss-btn {
    font-size: 1rem;
    gap: 0.4rem;
    padding: 0.4rem;
  }

  .btn-code {
    font-size: 0.9rem;
  }

  details > *:not(summary) {
    margin: 1rem 0.5rem;
  }

  .gallery,
  .featured {
    gap: 0.3rem;
  }

  figure {
    padding: 1rem;
  }
}