/* CSS Document */

@charset "UTF-8";

/* General styling */

/* 
Colors: 
lightest: #c7ccd6
medium-light: #afb9c5
medium: #a3adbd
medium-dark: #516881
darkest: #1a2033
*/

body {
  background-color: #c7ccd6;
  color: #1a2033;
  font-family: monospace;
}

header > pre {
  text-align: center;
  font-size: 0.85rem;
  margin: 1.5rem auto;
}

nav {
  text-transform: uppercase;
  text-align: center;
  line-height: 0.5rem;
  font-size: 0.9rem;
}

main {
  max-inline-size: 40rem;
  margin: 0 auto;
  font-size: 1.2rem;
}

footer {
  margin-top: 1rem;
  font-size: 0.9rem;
  text-align: center;
}

h1 {
  margin: 2rem auto;
  text-align: center;
  max-width: 25rem;
  font-size: 1.8rem;
}

h2 {
  font-size: 1.2rem;
}

h3,
h4 {
  font-weight: normal;
  font-size: 1.2rem;
}

a {
  color: #1a2033;
}

a:hover {
  color: #516881;
}

a:active {
  color: white;
}

hr {
  border: none;
  border-block-start: 0.2rem dotted #afb9c5;
  margin: 1.5rem 0;
}

ul > li::marker {
  content: "\003E \0020"/ "";
}

pre {
  white-space: pre-wrap;
  word-break: break-all;
}

code {
  background-color: #afb9c5;
  border-radius: 0.4rem;
  font-size: 1rem;
  padding: 0.04rem 0.1rem;
  display: inline-block;
  max-width: fit-content;
}

details {
  margin: 1rem 0;
  border: 0.2rem solid #afb9c5;
}

details > *:not(summary) {
  margin: 1rem 1.25rem;
}

summary {
  padding: 0.5rem;
  text-decoration: underline;
}

summary > h3 {
  display: inline;
}

summary:hover {
  cursor: pointer;
  background-color: #afb9c5;
}

summary:active {
  color: white;
}

figure {
  padding: 1.25rem;
  margin: 1rem auto;
  border: 0.2rem solid #afb9c5;
}

figcaption {
  margin-top: 0.3rem;
}

figure img {
  border: 0.1rem solid #afb9c5;
}

figure img:hover {
  border: 0.1rem solid #516881;
}

figure > img:active {
  border: 0.1rem solid white;
}

/* Ocasionally used text styles */

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-colored {
  color: #000f94;
}

.text-breakall {
  word-break: break-all;
}

.icon {
  height: 1rem;
}

.spoiler {
  background-color: #1a2033;
  color: #1a2033;
}

.spoiler:hover {
  background-color: transparent;
  color: #1a2033;
}

.h1 {
  font-size: xx-large;
  font-weight: bold;
}

.h2 {
  font-size: x-large;
  font-weight: bold;
}

.h3 {
  font-size: large;
  font-weight: bold;
}

.h4 {
  font-size: medium;
  font-weight: bold;
}

/* Gallery */

.gallery,
.featured {
  display: grid;
  inline-size: fit-content;
  block-size: fit-content;
  gap: 0.5rem;
}

.gallery {
  grid-template-columns: repeat(4, 1fr);
}

.featured {
  grid-template-columns: repeat(3, 1fr);
}

.preview {
  overflow: hidden;
  position: relative;
  border: 0.1rem solid #afb9c5;
  display: block;
}

.preview:hover {
  border: 0.1rem solid #516881;
  cursor: pointer;
}

.preview:active {
  border: 0.1rem solid white;
}

.preview > img {
  inline-size: 100%;
  block-size: 100%;
}

.full {
  inline-size: fit-content;
  block-size: fit-content;
  display: block;
  margin: 0 auto;
}

.full > img {
  max-inline-size: 100%;
  max-block-size: 30rem;
  display: block;
  margin: 0;
}

/* Code box element */

.btn-code {
  max-inline-size: 15rem;
  block-size: 4rem;
  padding: 0.5rem;
  border: solid 0.1rem #1a2033;
  background-color: white;
  overflow-y: scroll;
  overflow-x: hidden;
  font-size: 0.65rem;
  word-break: break-all;
  margin-top: 0.7rem;
}

.btn-code > code {
  background-color: transparent;
  border-radius: 0;
  padding: 0;
  display: inline;
}

/* Responsive big banner */

.responsive-img {
  max-width: 100%;
  height: auto;
}

/* CSS for landing page */

.landing {
  inline-size: fit-content;
  block-size: fit-content;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  inset: 0;
  margin: auto;
  padding: 2rem;
  max-inline-size: 15rem;
  border: solid 0.1rem #1a2033;
}

.landing > pre {
  text-align: center;
  font-size: 0.9rem;
  inline-size: fit-content;
  margin: 0 auto;
}

.landing > img {
  display: block;
  margin: 1.4rem auto 1.2rem;
  mix-blend-mode: multiply;
  width: 75%;
}

.landing > p {
  margin: 0 auto;
  max-inline-size: 13rem;
  font-size: small;
}

.landing > a {
  font-size: x-large;
  display: block;
  margin: 1rem auto 0;
}

/* CSS for 404 page */

.fourofour {
  inline-size: fit-content;
  block-size: fit-content;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  inset: 0;
  margin: auto;
}

/* CSS for smaller screens */

@media (max-width: 720px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 580px) {
  header > pre {
    font-size: 0.7rem;
  }

  details > *:not(summary) {
    margin: 1rem 0.5rem;
  }

  .gallery,
  .featured {
    gap: 0.3rem;
  }

  figure {
    padding: 1rem;
  }
}

@media (max-width: 490px) {
  header > pre {
    font-size: 2vmin;
  }
}
